[submodule "packages/dashboarder"]
	path = packages/dashboarder
	url = git@github.com:williamlagos/django-dashboarder
[submodule "packages/shipping"]
	path = packages/shipping
	url = git@github.com:williamlagos/django-shipping
[submodule "packages/socialize"]
	path = packages/socialize
	url = git@github.com:williamlagos/django-socialize
[submodule "packages/feedly"]
	path = packages/feedly
	url = git@github.com:williamlagos/django-feedly
[submodule "sputnik"]
	path = sputnik
	url = git@github.com:williamlagos/sputnik
[submodule "emporio"]
	path = emporio
	url = git@github.com:williamlagos/emporio
[submodule "lab"]
	path = lab
	url = git@github.com:williamlagos/lab
[submodule "coworking"]
	path = coworking
	url = git@github.com:williamlagos/coworking
[submodule "plethora"]
	path = plethora
	url = git@github.com:williamlagos/plethora
