[submodule "packages/dashboarder"]
	path = dashboarder
	url = git@github.com:williamlagos/django-dashboarder
[submodule "packages/shipping"]
	path = shipping
	url = git@github.com:williamlagos/django-shipping
[submodule "packages/socialize"]
	path = socialize
	url = git@github.com:williamlagos/django-socialize
[submodule "packages/feedly"]
	path = feedly
	url = git@github.com:williamlagos/django-feedly
[submodule "emporio"]
	path = emporio
	url = git@github.com:williamlagos/django-emporio
[submodule "plethora"]
	path = plethora
	url = git@github.com:williamlagos/django-plethora
[submodule "lab"]
	path = samples/lab
	url = git@github.com:williamlagos/lab
[submodule "coworking"]
	path = samples/coworking
	url = git@github.com:williamlagos/coworking
[submodule "sputnik"]
	path = samples/sputnik
	url = git@github.com:williamlagos/sputnik


