asgiref==3.2.7
Django==3.0.5
pytz==2019.3
sqlparse==0.3.1
# Production mode, install modules from pip local packages
# ./dashboarder
# ./socialize
# ./shipping
# ./plethora
# ./emporio
# ./feedly
# Production mode, install modules from pip remote packages
# django-dashboarder
# django-socialize
# django-shipping
# django-plethora
# django-emporio
# django-feedly