# External dependencies from local packages
django-pure-pagination>=0.3.0
django-crispy-forms>=1.9.0
paypalrestsdk>=1.13.1
pagseguro>=0.3.4
oauth2>=1.9.0.post1

# Production mode, install modules from pip local packages
# ./socialize
# ./shipping
# ./feedly
# Production mode, install modules from pip remote packages
# django-socialize
# django-shipping
# django-feedly
